body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time-block {
  margin: 0 auto;
  padding: 3px;
  width: 300px;
  font-size: 16px;
}

.current {
  width: 500px;
  font-size: 24px;
}

.active-block {
  border: 3px solid green;
  background-color: #8ebf42
}

.rest-block {
  border: 3px solid red;
  background-color: rgb(206, 55, 55);
}

.hide {
  display: none;
}


.program-workout {
  width: 100%;
  text-align: center;
}

.add-block-btn{
  float: right;
}